.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 20px auto;
}

.adverb {
	background-color: #54ADE5;/*#04abe3;*/
	border: 1px solid black;
	margin: 2px;
	padding: 2px;
	display: inline-block;
}

#words {
	width: 500px;
	height: 300px;
}

.wide_comic {
	width: 700px;
	margin: 20px;
}

.single_comic {
	width: 230px;
	margin-top: 20px;
}

.prompt {
	padding-right: 30px;
	text-align: right;
}

.qsection {
	padding-top: 50px;
	padding-bottom: 50px;
}

.vslider {
	width: 12px;
	height: 300px;
	margin: 5px;
}

#final_left_button{
	float: left;
	width: 40%;
	height: 30%;
	margin-left: 6%;
}

#final_right_button{
	float: right;
	width: 40%;
	height: 30%;
	margin-right: 6%;
}

#left_button{
	float: left;
	width: 40%;
	height: 30%;
	margin-left: 6%;
}

#right_button{
	float: right;
	width: 40%;
	height: 30%;
	margin-right: 6%;
}

.slide {
	width: 1000px;
	border: 0px;
}

.omglol {
	height: 10px;
	background-color: #000;
}